body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    border: 1px solid;

}

.container{
    display:flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid;

}
.row{
    display: flex;
    flex: 1
}

.column{
    border: 1px solid;
    background: white;
    flex:1
}

.footer{
    display: flex;
    border: 1px solid;
    justify-content:  space-between;
    width: 500px;
    align-items: center;
}

