

.container{
 display: table;
 width: 960px;
 height: 960px;
}

.row{
    display: table-row
}



.theColumns{
display: table-cell;
height: 25px;
width: 25px;
border: 1px solid;
background: white;
}

.button{
    
}